<div class="container-fluid">
  <div class="row">
    <div class="col colum-left">
      <div class="area-img">
        <img src="../../../assets/about-light-01.png" class="img-fluid" alt="">
      </div>
    </div>
    <div class="col">
      <div class="about-area">
        <h3>START TRACKING VISITORS</h3>
        <h1>Know More About Our Product.</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultricies lacus non fermentum ultrices. Fusce consectetur le.</p>
        <div class="area-desc"><span class="number">01</span> <h4>Lorem ipsum dolor.</h4> </div>
        <p>Ut ultricies lacus non fermentum ultrices.</p>
        <div class="area-desc"><span class="number">02</span> <h4>Lorem ipsum dolor.</h4></div>
        <p>Ut ultricies lacus non fermentum ultrices.</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col ">
      <div class="about-area">
        <h3>GROW YOUR BUSINESS FASTER</h3>
        <h1>Track Your Audience Activities</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultricies lacus non fermentum ultrices. Fusce consectetur le.</p>

      </div>
    </div>
    <div class="col colum-right">
      <div class="area-img">
        <img src="../../../assets/about-light-02.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</div>
