<div class="container-footer">

  <div class="box-footer">
    <div class="area-left">
      <h1>Qu1ck</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
      <span>CONTACT</span>
      <h4>hellosolid.com</h4>
    </div>
    <div class="area-right">
      <div class="section-links">
          <h1>Quick Links</h1>
          <ul>
            <li>
              <a href="">Home</a>
              <a href="">Product</a>
              <a href="">Careers</a>
              <a href="">Pricing</a>
            </li>
          </ul>
      </div>
      <div class="section-support">
        <h1>Support</h1>
        <ul>
          <li>
            <a href="">Home</a>
            <a href="">Product</a>
            <a href="">Careers</a>
            <a href="">Pricing</a>
          </li>
        </ul>
      </div>
      <div class="section-newsletter">
          <h1>NewsLetter</h1>
          <p>Subscribe to receive future updates</p>.
          <div class="input-area">
            <input type="text" placeholder="Email Adress" >
            <i class="fa-regular fa-paper-plane" ></i>
          </div>
      </div>
    </div>
  </div>

  <div class="area-logo-ms">
    <img src="../../../assets/MS_Startups_FH_lockup_hrz_OnLght_RGB.png" class="img-fluid">
  </div>

</div>


