<div class="container-fluid">
  <h1>Our Software's Core Features</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis tortor eros. <br> Donec vitae tortor lacus. Phasellus aliquam ante in maximus.</p>
  <div class="row features-area">
    <div class="col">
      <div class="area-icon"><img src="../../../assets/icon-01 (1).png" alt=""></div>
      <h2>Crafted for SaaS</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis tortor.</p>
    </div>
    <div class="col ">
      <div class="area-icon"><img src="../../../assets/icon-01 (1).png" alt=""></div>
      <h2>Crafted for SaaS</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis tortor.</p>
    </div>
    <div class="col ">
      <div class="area-icon"><img src="../../../assets/icon-01 (1).png" alt=""></div>
      <h2>Crafted for SaaS</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis tortor.</p>
    </div>

    <div class="col ">
      <div class="area-icon"><img src="../../../assets/icon-01 (1).png" alt=""></div>
      <h2>Crafted for SaaS</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis tortor.</p>
    </div>
    <div class="col ">
      <div class="area-icon"><img src="../../../assets/icon-01 (1).png" alt=""></div>
      <h2>Crafted for SaaS</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis tortor.</p>
    </div>
    <div class="col ">
      <div class="area-icon"><img src="../../../assets/icon-01 (1).png" alt=""></div>
      <h2>Crafted for SaaS</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis tortor.</p>
    </div>
  </div>
</div>
