.area-banner{
  margin: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text-area{

      h1{
        font-size: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
        line-height: 50px;
      }

      h2{
        font-size: 20px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.623);
      }

      h3{
        font-size: 18px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.425);
        max-width: 500px;
        width: 100%;
        padding-bottom: 20px;
      }
}

.submit-form{
  input{
    width: 250px;
    height: 50px;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.747);
    margin-right: 20px;


  }

  .success-border {
    border: 2px solid #BBF075; // Define a cor da borda como verde
  }

  .error-border {
    border: 2px solid red; // Define a cor da borda como vermelho para indicar um formato de email inválido
  }




  input::placeholder{
    font-size: 17px;
  }

  .btn{
    width: 130px;
    height: 50px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 700;
    background-color: #E94534;
    border: none;
  }

  .btn:hover{
    border: 1px solid #E94534;
    background: white;
    cursor: pointer;
    color: #E94534;

  }
}

.success-message{
  line-height: 30px;
 padding-left: 20px;
 width: 200px;
  color: rgba(0, 0, 0, 0.493);
}



.error-message {
  color: red; // Define a cor do texto como vermelho
  line-height: 30px;
   padding-left: 20px;
}

.area-img{
  display: flex;
  align-items: center;
  height: 500px;
  img{
    object-fit: contain;
    width: 900px;


  }
}

@media(max-width:1300px){
  .area-banner{
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media(max-width:1330px){
  .text-area{
    width: 100% !important;
    text-align: center;


    h3{
      width: 100%;
      text-align: center;
      margin: auto;
    }
  }

  .colum-img{
    display: none;

  }
}
