.container-fluid{
  padding-top: 120px;
  text-align: center;
  display: flex;
  justify-content: center;
  .area-results{
    background: rgb(233,69,52);
    background: radial-gradient(circle, rgba(233,69,52,1) 0%, rgba(198,157,210,1) 100%);
    height: 440px;
    max-width: 1100px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;

      .title{
        color: rgba(255, 255, 255, 0.842);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1{
          text-align: center;
          font-size: 50px;
          font-weight: 700;
          padding-bottom: 20px;
          padding-top: 30px;
          line-height: 50px;
        }

        p{
          font-size: 18px;
          margin: auto;
          max-width: 700px;
          width: 100%;
          font-weight: 500;
          color: rgba(255, 255, 255, 0.842);
        }
      }
  }

    .col{
      color: rgba(255, 255, 255, 0.842);
      h4{
        font-weight: 700;
        font-size: 35px;
      }
    }
}

.container{
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span{
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EDF5FF;
    width: 140px;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 70px;
  }
  .row{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1{
      font-size: 30px;
      font-weight: 600;
      line-height: 50px;
    }

    p{
      padding-top: 20px;
      font-size: 17px;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.281);
    }
  }
}


.section-integrations{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .first-row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin: auto;
    padding-bottom: 60px;
    justify-items: start;
    .col{
      display: flex;
      align-items: center;
      background: rgb(241, 240, 240);
      width: 80px;
      height: 80px;
      border-radius: 10px;
        img{
          object-fit: contain;
          width: 70px;
          height: 70px;
        }
    }
}

  .second-row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin: auto;
    place-items: center;

    .col{
      display: flex;
      align-items: center;
      background: rgb(241, 240, 240);
      width: 80px;
      height: 80px;
      border-radius: 10px;
        img{
          object-fit: contain;
          width: 70px;
          height: 70px;
        }
    }
  }
}

@media(min-width:1287px){
  h1{
    font-size: 50px !important;
    max-width: 800px;
    width: 100%;
  }
}
