<div class="container-faq">
  <div class="banner-faq">
    <div class="text-area ">
      <h1>
        Join With Us Today & Incrud-ease Your Productivity
      </h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis tortor eros.
        Donec vitae tortor lacus. Phasellus aliquam ante in maximus.
      </p>
    </div>
    <div class="btn-area "><button type="button" class="btn btn-dark">Sign Up Free <i class="fa-solid fa-arrow-right" style="color: #E94534;"></i></button></div>
  </div>
</div>

<div class="section-faq">
  <div class="text-area">
    <h4>OUR FAQS</h4>
    <h1>Frequently Asked Questions</h1>
  </div>

  <div class="area-questions">
    <ul class="accordion">
      <li>
        <input type="radio" name="accordion" id="first" checked>
        <label for="first">Products</label>
        <div class="content">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem modi commodi eaque sunt
             ducimus mollitia iste harum aut repudiandae aspernatur.</p>
        </div>
      </li>
      <li>
        <input type="radio" name="accordion" id="second">
        <label for="second">Products</label>
        <div class="content">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem modi commodi eaque sunt
             ducimus mollitia iste harum aut repudiandae aspernatur.</p>
        </div>
      </li>
      <li>
        <input type="radio" name="accordion" id="third">
        <label for="third">Products</label>
        <div class="content">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem modi commodi eaque sunt
             ducimus mollitia iste harum aut repudiandae aspernatur.</p>
        </div>
      </li>
    </ul>
  </div>
</div>
